---
title: "Shortlinks"
layout: base.njk
---

<ul>
{% set sorted = collections.shortlinks | sort(attribute='fileSlug') %}
{% for link in sorted %}
  <li style="margin-bottom:2rem;">
    <div><strong>Slug:</strong> {{ link.fileSlug }}</div>
    <div style="margin:0.5rem 0;">
      {% qrCodeImg site.baseUrl ~ '/' ~ link.fileSlug ~ '/', link.fileSlug %}
    </div>
    <a href="/{{ link.fileSlug }}/">Go to shortlink</a>
  </li>
{% endfor %}
</ul>
